<% @page_title = "Show Invoice" %>

<%= link_to("<< Back to List", {:action => 'index'} ) %>

<div >
  <h2>Show invoice</h2>

  <table class="table table-striped table-bordered table-condensed" summary="Invoice detail view">
    <tr>
      <th>name</th>
      <td><%= @invoice.name %></td>
    </tr>
    <tr>
      <th>description</th>
      <td><%= @invoice.description %></td>
    </tr>
    <tr>
      <th>invoiceno</th>
      <td><%= @invoice.invoiceno %></td>
    </tr>
    <tr>
      <th>ammount</th>
      <td><%= @invoice.ammount %></td>
    </tr>
  </table>

</div>
