<% @page_title = "Opportunitys" %>

<%= link_to("<< Back to Menu", {:controller => 'accounts', :action => 'index'}, :class => 'back-link') %>

<div class="accounts index">
  <h2>Opportunitys</h2>

  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+') + " Add New Opportunitys", {:action => 'new'}, :class => 'action new') %>

  <div><%= pluralize(@opportunities.size, 'accounts') %> found</div>
  <table class="table table-striped table-bordered table-condensed"  summary="Accounts list">
    <tr class="header">
      <th>name</th>
      <th>account</th>
      <th>salesstage</th>
      <th>leadsourcey</th>
      <th>nextstep</th>
      <th>ammount</th>
      <th>description</th>
      <th>Actions</th>
    </tr>
    <% @opportunities.each do |opportunitie| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= opportunitie.name %></td>
      <td><%= opportunitie.account %></td>
      <td><%= opportunitie.salesstage %></td>
      <td><%= opportunitie.leadsource %></td>
      <td><%= opportunitie.nextstep %></td>
      <td><%= opportunitie.ammount %></td>
      <td><%= opportunitie.description %></td>
      
      <td class="actions">
        
        <%= link_to("Show", {:action => 'show', :id => opportunitie.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => opportunitie.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => opportunitie.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
